#about {
  display: flex;
  flex-direction: column;
  height: 100vh;
  #ddGroup {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 15px;
    justify-content: space-around;
    margin-bottom: 25px;
  }
}
