#card {
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  margin: 15px;
  // overflow: hidden;
  position: relative;
  width: 325px;
  #cardImg {
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgb(202, 202, 202);
    filter: brightness(85%);
    height: 300px;
    max-width: 100%;
    object-fit: cover;
  }
  #cardTitle {
    color: #f6f6f6;
    font-size: 12px;
    margin: 0px 0px 0px 10px;
    position: absolute;
    text-align: start;
    top: 85%;
    width: 50%;
    z-index: 2;
  }
}
