.card-link {
  #card {
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    margin: 15px;
    position: relative;
    width: 375px;
    #cardImg {
      border-radius: 10px;
      box-shadow: 3px 3px 3px rgb(202, 202, 202);
      height: 375px;
      object-fit: cover;
      position: relative;
      width: 100%;
    }
    #cardTitle {
      color: #f6f6f6;
      bottom: 2.5px;
      font-family: "Montserrat", sans-serif;
      font-size: 15px;
      font-weight: 500;
      line-height: 25px;
      margin: 15px 10px;
      opacity: 1;
      position: absolute;
      text-align: start;
      width: 75%;
    }

    #overlay {
      background: linear-gradient(#FFF,#000);
      border-radius: 10px;
      font-size: 12px;
      height: 100%;
      opacity: 0.4;
      position: absolute;
      text-align: start;
      top: 0;
      width: 100%;
    }

  }
}

@media (max-width: 465px) {
  .card-link {
    #card {
      margin: 0;
      max-width: 97%;
      #cardImg {
        height: 265px;
      }
    }
  }
}

@media (max-width: 440px) {
  .card-link {
    #card {
      margin: 0;
      max-width: 90%;
      #cardImg {
        height: 265px;
      }
    }
  }
}

@media (max-width: 425px) {
  .card-link {
    #card {
      margin: 0;
      max-width: auto;
      #cardImg {
        height: 265px;
      }
    }
  }
}

@media (max-width: 412px) {
  .card-link {
    #card {
      margin: 0;
      max-width: 95%;
      #cardImg {
        height: 265px;
      }
    }
  }
}

@media (max-width: 400px) {
  .card-link {
    #card {
      margin: 0;
      max-width: 92%;
      #cardImg {
        height: 265px;
      }
    }
  }
}

@media (max-width: 388px) {
  .card-link {
    #card {
      margin: 0;
      max-width: 90%;
      #cardImg {
        height: 265px;
      }
    }
  }
}

@media (max-width: 375px) {
  .card-link {
    #card {
      margin: 0;
      max-width: 85%;
      #cardImg {
        height: 265px;
      }
    }
  }
}