#tags {
  color: #f1f1f1;
  background: #ff6060;
  border-radius: 10px;
  font-size: 14px;
  padding: 2px 20px;
  #tag {
    align-items: center;
    display: flex;
    padding-top: 2px;
  }
}

@media (max-width: 888px) {
  #tags {
    #tag {
      padding-bottom: 3px;
    }
  }
}
