#carousel {
  background: lightblue;
  border-radius: 15px;
  height: 450px;
  margin: 25px 0 25px 0;
  overflow: hidden;
  position: relative;
  #carouselImg {
    height: 100%;
    position: relative;
    img {
      height: 100%;
      left: 0;
      max-height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      width: 100%;
      display: none;
    }
    img.active {
      display: block;
    }
  }
  #carouselBtn {
    display: flex;
    justify-content: space-between;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  #carouselCounter {
    position: absolute;
    bottom: 10px;
    font-size: 18px;
    left: 50%;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
    transform: translate(-50%);
  }
}

@media screen and (max-width: 768px) {
  #carousel {
    height: 300px;
  }
}

@media screen and (max-width: 480px) {
  #carousel {
    height: 200px;
  }
}
