#carousel {
  background: lightblue;
  height: 450px;
  overflow: hidden;
  position: relative;
  #carouselImg {
    height: 100%;
    position: relative;
    img {
      height: 100%;
      left: 0;
      max-height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      width: 100%;
      display: none;
    }
    img.active {
      display: block;
    }
  }
  #carouselBtn {
    display: flex;
    justify-content: space-between;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
}
