$min-body-margin: 20px 50px 0 50px;
$extra-body-margin: 40px;
body {
  margin: $min-body-margin;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media (min-width: 1440px) {
  body {
    margin: auto;
    width: auto;
    max-width: 1440px;
    padding: $min-body-margin;
  }
}
