#banner {
  align-items: center;
  display: flex;
  height: 190px;
  justify-content: center;
  margin: 25px 0px;
  overflow: hidden;
  position: relative;
  #bannerTitle {
    color: #ffffff;
    font-size: 45px;
    font-weight: 350;
    margin: 0 15px 0 15px;
    text-align: center;
    z-index: 2;
  }
  #bannerImg {
    border-radius: 10px;
    filter: brightness(75%);
    height: 100%;
    left: 0;
    max-height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
}

@media (max-width: 768px) {
  #banner {
    #bannerTitle {
      font-size: 34.5px;
    }
  }
}

@media (max-width: 425px) {
  #banner {
    display: flex;
    height: 110px;
    justify-content: flex-start;
    #bannerTitle {
      font-size: 24px;
      margin-left: 15px;
      text-align: start;
      width: 185px;
      word-wrap: break-word;
    }
  }
}

@media (max-width: 425px) {
  #banner {
    height: 125px;
  }
}
