#error {
  display: flex;
  flex-direction: column;
  height: 100vh;
  #errorB {
    align-items: center;
    color: #ff6060;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
    margin: 55px 0 55px 0;
    #errorImg {
      text-align: center;
      width: 35%;
    }
    #errorP {
      text-align: center;
      font-size: 32px;
      margin: 75px 0 75px 0;
    }
    #errorLink {
      color: #ff6060;
    }
  }
}

@media (max-width: 425px) {
  #error {
    #errorB {
      #errorP {
        font-size: 20px;
      }
    }
  }
}
